<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.ast.deploy.core.runonserver">
<booleanAttribute key="runonserver.exploded" value="true"/>
<stringAttribute key="runonserver.project" value="BikeSharing"/>
<stringAttribute key="runonserver.server" value="myeclipseTomcatServer"/>
<booleanAttribute key="runoserver.restart" value="true"/>
</launchConfiguration>
